Package: sdlmame-tools
Source: mame
Version: 0.141-0.0
Architecture: amd64
Bugs: mailto:marillat@debian.org
Maintainer: Christian Marillat <marillat@debian.org>
Installed-Size: 472
Depends: libc6 (>= 2.3.4), libgcc1 (>= 1:4.1.1), libsdl1.2debian (>= 1.2.10-1), libstdc++6 (>= 4.1.1), libx11-6, zlib1g (>= 1:1.1.4)
Recommends: sdlmame (= 0.141-0.0)
Conflicts: xmame-tools
Section: utils
Priority: optional
Homepage: http://rbelmont.mameworld.info/?page_id=163
Description: SDL Multiple Arcade Machine Emulator tools
 A set of useful tools for the SDL Multiple Arcade Machine Emulator:
  * chdman - MAME Compressed Hunks of Data (CHD) manager
  * jedutil - Converts a .JED file into its binary form, and viceversa
  * ldverify - MAME laserdisc data checker
  * romcmp - MAME rom and romsets check and comparison tool
  * testkeys - Returns SDL keycode for key pressed
